doctype html
html
    head
        title Singapore Tide Information
    body
    h1 Singapore Tide Information
    ul.tideTable
        each tide in tides
            -function tideTime(unix) {
                -var date = new Date(unix*1000);
                -var hours = date.getHours();
                -if (hours.toString().length === 1) { hours = '0' + hours};
                -var minutes = date.getMinutes();
                -if (minutes.toString().length === 1) { minutes = '0' + minutes};
                -return  hours.toString() + minutes.toString();
            -}
            li= tide.type.toLowerCase() + ' tide at ' + tideTime(tide.dt) + ' reaching ' + tide.height.toFixed(2) +'m'
