doctype html
html
    head
        title Singapore Tide Information
    body
    h1 Singapore Tide Information
    ul.tideTable
        each tide in tides
            li= tide.type.toLowerCase() + ' tide at ' + tide.date + ' reaching ' + tide.height.toFixed(2) +'m'
