doctype html
html
    head
        title Singapore Tide Information
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    body
        style
            | body { padding-bottom: 70px; }
            | .headerRow { font-weight:800; }
            | .vertical-center {
            |     min-height: 100vh;
            |     margin: 0;
            |     display: flex;
            |     align-items: center;
            |}
            |table {border: 1px solid #888; }
            |h2 {margin-bottom: 2rem;}
            |.disc{
            |    margin-top: 3rem;
            |    size: 0.6em;
            |    color: #888;
            |}

        .vertical-center
            .container
                .row
                    .col-sm-12.col-md-6.col-md-offset-3
                        h2.text-center Singapore Tide Information for #{date}
                        table.table.table-hover
                            tr.headerRow
                                td.text-center Type
                                td.text-center Time
                                td.text-center Height
                            each tide in tides
                                -function tideTime(unix) {
                                    -var date = new Date(unix*1000);
                                    -var hours = date.getHours();
                                    -if (hours.toString().length === 1) { hours = '0' + hours};
                                    -var minutes = date.getMinutes();
                                    -if (minutes.toString().length === 1) { minutes = '0' + minutes};
                                    -return  hours.toString() + minutes.toString();
                                -}
                                tr
                                    td.text-center
                                        h4= tide.type.toLowerCase() + ' tide ' 
                                    td.text-center
                                        h4= tideTime(tide.dt) 
                                    td.text-center
                                        h4= tide.height.toFixed(2) +'m'
                .row.disc
                    .col-sm-12
                        p.text-center Tidal Data retrieved from www.worldtides.info. Copyright (c) 2010-2015 Oregon State University. Licensed for individual spatial coordinates only via ModEM-Geophysics Inc. NO GUARANTEES ARE MADE ABOUT THE CORRECTNESS OF THIS TIDAL DATA. You may not use this data if anyone or anything could come to harm as a result of using it.

        nav.navbar.navbar-default.navbar-fixed-bottom
            .container.text-center
                p: Copyright © 2016  #[a(href="http://www.siegeflow.com") Shaun Yap] All Rights Reserved.
